.bg-superdarkblue {
    background-color: $superdarkblue;
}
.bg-darkerblue {
    background-color: $darkerblue;
}
.bg-darkblue {
    background-color: $darkblue;
}
.bg-blue {
    background-color: $blue;
}